.qna-title-link {
    text-decoration: none;
    color: inherit;
}

.qna-title-link:hover {
    color: inherit;
}
    


/* ------index.jsp------ */
.qna-link {
    text-decoration: none; /* 언더라인 제거 */
}
.notice-title {
    font-weight: bold; /* 공지 제목 굵게 표시 */
}
#category {
    border-color:secondary;
    outline:none;
    box-shadow:none;
}
#searchType {
    border-color:secondary;
    outline:none;
    box-shadow:none;
}
#keyword {
    border-color:secondary;
    outline:none;
    box-shadow:none;
}
.table-group-divider {border-color: #DCDCDC;}
#gongTable {background-color: #F0F0F0;}
#gong {background-color: #F87217;}
#wan {background-color: #024089;}
#dae {
    background-color: #E0EAF5;
    color: black;
}
/* ------//index.jsp end------ */



/* ------paging------ */
.pagination li a {
        display: block;
        padding: 5px 10px;
        background-color: #dcdcdc;
        border-radius: 3px;
        text-decoration: none;
        color: #000; /* 버튼 텍스트 색상 */
    }

    .pagination li a:hover {
        background-color: #aaaaaa; /* 마우스 호버 시 배경색 */
    }

    .pagination li.active a {
        background-color: #333;
        color: #fff;
    }

    .pagination li.disabled a {
        pointer-events: none;
        background-color: #f1f1f1;
        color: #999; /* 비활성 버튼 텍스트 색상 */
    }

    .pagination li a:focus {
        background-color: #dcdcdc; /* 포커스 시 배경색 */
        outline: none;
    }
/* ------//paging end------ */



/* ------question-detail.jsp------ */
#detailImage {width: 500px;}
#answer-content {
    border-color:secondary;
    outline:none;
    box-shadow:none;
}
#answer-update-content {
    border-color:secondary;
    outline:none;
    box-shadow:none;
}
#href {
    text-decoration: none;
    color: inherit;
}
#btn-mod {background-color: #DCDCDC;}
#btn-delete {background-color: #DCDCDC;}
#btn-answer-update-form {background-color: #DCDCDC;}
#btn-answer-delete {background-color: #DCDCDC;}
#btn-answer-save {background-color: #DCDCDC;}
#btn-answer-cancel {background-color: #DCDCDC;}
#btn-answer-updated {background-color: #DCDCDC;}
/* ------//question-detail.jsp end------ */



/* ------question-save,update.jsp------ */
#title {
    outline:none;
    box-shadow:none;
}
#attachFile {
    outline:none;
    box-shadow:none;
}
#content {
    outline:none;
    box-shadow:none;
}
#btn-save {
    background-color: #024089;
    color: white;
    outline:none;
}
#btn-update {
    background-color: #024089;
    color:white;
}
/* ------//question-save,update.jsp end------ */
